
<form action="/" method="post">
<h2>Choose!</h2>
<input type="submit" name="player_choice" value="Rock">
<input type="submit" name="player_choice" value="Paper">
<input type="submit" name="player_choice" value="Scissors">
</form>
