<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Massively Multiplayer Online Rock, Paper, Scissors</title>
    <link rel="stylesheet" href="home.css">
  </head>
  <body>
    <h1>MMORPS</h1>
    <% unless player_score == 0 && computer_score == 0 %>
    <p><%= "Test Message" %></p>
    <% end %>
    <table>
      <thead>
        <tr>
          <th>Player</th>
          <th>Score</th>
        </tr>
      </thead>
      <tbody>
        <tr><td>Human:</td><td><%= player_score %></td></tr>
        <tr><td>Computer:</td><td><%= computer_score %></td></tr>
      </tbody>
    </table>
    <%= yield %>
  </body>
</html>
